#previousevent-section{
    padding-bottom:0;
    background-color: $darkgrey;
    color:$lightestgrey;
    >div.container-fluid{ 
        padding-left:0;
        padding-right:0;
    }
    p{
        margin-bottom:40px;
    }
    .owl-carousel{
        margin-bottom:60px;
        margin-top: 30px;
    }
}

#photocarousel{
    padding:50px 50px ;
    background-color: white;
    h1{
        color: #656565;
    }
    h3{
        color: #656565;
    }
    #carouselno1{
        border:15px solid #ededed;
    }
}